export( 
Affy2GeneID,
cor.func,
cox.perm.sample,
coxfunc,
coxscor,
coxstuff,
coxvar,
Enrichment_KS_gene,
Enrichment_KS_sample,
MAPE,
MAPE_G_gene_KS,
MAPE_G_sample_KS,
MAPE_I_KS,
MAPE_P_gene_KS,
MAPE_P_sample_KS,
plotMAPE,
pqvalues.compute,
reg.perm.sample,
Tperm.sample
)
import(
Biobase,
AnnotationDbi,
genefilter,
GSEABase,
limma,
impute,
qvalue
)
